<%- include("../partials/head") %>
</head>

<body>
  <%- include("../partials/user_header") %>
  <main class="container mt-5 flex flex-col justify-center items-center p-5">
    <% if (bookings.length !== 0) { %>
      <div class="w-full">
      <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">
        Available Homes
      </h2>
      <ul class="flex justify-center items-center flex-wrap gap-2">
        <% bookings.forEach((home) => { %>
        <li class="bg-white overflow-hidden rounded shadow-md w-60 group relative">
          <a href="/home-details/<%=home.id%>" title="Click to see details">
            <div class="h-44 overflow-hidden">
              <img src="<%= home.house_img_url %>" alt="home_img" class="w-full h-full">
            </div>
            <div class="flex flex-col px-4 overflow-hidden">
              <div class="text-sm font-medium overflow-hidden whitespace-nowrap truncate" title="<%= home.house_name %> in <%= home.location %>">
                <%= home.house_name %> in <%= home.location %>
              </div>
              <div class="text-xs text-gray-500 flex items-baseline gap-1">
                <div>
                  Rs.<%= home.price * 2 %> for 2 nights
                </div> ·
                <div class="flex items-center justify-baseline">
                  ⭐ <%= home.rating %>
                </div>
              </div>
            </div>
          </a>
          <div class="flex justify-between gap-2 items-center py-5 px-2">
            <div class="w-full">
            <%- include("../partials/booking_btn/remove_btn", {home: home}) %>
            </div>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
    <% } else { %>
    <div class="rounded-lg shadow-md bg-white p-8">
      <h1 class="text-3xl font-bold text-center text-gray-800 px-10 py-6">
        No fovourites added
      </h1>
    </div>
    <% } %>
  </main>
</body>

</html>