<%- include("../partials/head") %>
</head>

<body>
  <%- include("../partials/user_header") %>
  <main class="container mt-5 flex flex-col justify-center items-center p-5">
    <% if (favourites.length != 0) { %>
      <div class="w-full">
      <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">
        Available Homes
      </h2>
      <ul class="flex justify-center items-center flex-wrap gap-2">
        <% favourites.forEach((home) => { %>
        <li class="bg-white overflow-hidden rounded shadow-md w-60 group relative">
          <a href="/home-details/<%=home.id%>" title="Click to see details">
            <div class="h-44 overflow-hidden">
              <img src="<%= home.house_img_url %>" alt="home_img" class="w-full h-full">
            </div>
            <div class="flex flex-col px-4 overflow-hidden">
              <div class="text-sm font-medium overflow-hidden whitespace-nowrap truncate" title="<%= home.house_name %> in <%= home.location %>">
                <%= home.house_name %> in <%= home.location %>
              </div>
              <div class="text-xs text-gray-500 flex items-baseline gap-1">
                <div>
                  Rs.<%= home.price * 2 %> for 2 nights
                </div> ·
                <div class="flex items-center justify-baseline">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 8px; width: 8px; fill: currentcolor;">
                    <path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path>
                  </svg> <%= home.rating %>
                </div>
              </div>
            </div>
          </a>
          <div class="absolute top-3 right-3 cursor-pointer bg-gray-500 h-8 w-8 flex justify-center items-center rounded-3xl invisible opacity-0 group-hover:visible group-hover:opacity-100 transition duration-300">
            <%- include("../partials/fav_btn/remove_icon", {home: home}) %>
          </div>
          <div class="flex justify-evenly items-center py-5">
            <button class="bg-green-400 rounded-3xl w-2/5 py-1 cursor-pointer text-white">Book</button>
            <button class="bg-blue-400 rounded-3xl w-2/5 py-1 cursor-pointer text-white">Reserve</button>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
    <% } else { %>
    <div class="rounded-lg shadow-md bg-white p-8">
      <h1 class="text-3xl font-bold text-center text-gray-800 px-10 py-6">
        No fovourites added
      </h1>
    </div>
    <% } %>
  </main>
</body>

</html>