<header class="bg-red-600 p-3 pl-5">
  <nav>
    <a href="/" class="<%= currentPage === '/' ? 'bg-red-400' : 'hover:bg-red-400' %> text-white p-1.5 rounded-xs">Home</a>
    <a href="/homeList" class="<%= currentPage === 'homeList' ? 'bg-red-400' : 'hover:bg-red-400' %> text-white p-1.5 rounded-xs ml-3">Home List</a>
    <a href="/homeDetails" class="<%= currentPage === 'homeDetails' ? 'bg-red-400' : 'hover:bg-red-400' %> text-white p-1.5 rounded-xs ml-3">Home Details</a>
    <a href="/favList" class="<%= currentPage === 'favList' ? 'bg-red-400' : 'hover:bg-red-400' %> text-white p-1.5 rounded-xs ml-3">Favourite List</a>
    <a href="/reserve" class="<%= currentPage === 'reserve' ? 'bg-red-400' : 'hover:bg-red-400' %> text-white p-1.5 rounded-xs ml-3">Reserve</a>
    <a href="/bookings" class="<%= currentPage === 'bookings' ? 'bg-red-400' : 'hover:bg-red-400' %> text-white p-1.5 rounded-xs ml-3">Bookings</a>
  </nav>
</header>